/* reservation_system  */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

#reservation-form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#availability-message {
  margin-top: 20px;
}

#confirmed-reservation {
  margin-top: 20px;
}

